@{
    ViewData["Title"] = "Sucessfully Send";
}
<div style="text-align:center" class="mt-5">
    <h3 class="btn btn-success">@ViewData["Title"]</h3>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Home">Back</a>
</div>


